version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: carbon-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: carbon-backend
    restart: always
    ports:
      - "5000:5000"
    environment: # here you can set environment variables without adding new env folder
      - GEMINI_API_KEY=your_gemini_api_key_here
      - MONGO_URI=mongodb://mongo:27017/carbonfootprint
      - JWT_SECRET=mysecretkey
      - PORT=5000
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: carbon-frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  mongo-data:
